# 221007 수업

# 4. 삭제하기

- 하나의 아이템을 삭제하기

- 모든 아이템 삭제하기 : 빈 딕셔너리만 남음

In [9]:
# 하나의 아이템 삭제하기 : del 키워드 + 딕셔너리 인덱싱
# 단, .get()을 이용한 삭제는 불가능
d2

{'a': 10, 'b': 10, 'c': 3, 'd': 4, 'e': 50, 'f': 100}

In [10]:
del d2['d'] # del d2.get('d') 로는 동작하지 않으므로 주의
d2 # d key에 있던 value까지 삭제

{'a': 10, 'b': 10, 'c': 3, 'e': 50, 'f': 100}

In [11]:
# 딕셔너리 통째로 비우기 : 딕셔너리.clear()
# del은 딕셔너리 자체를 파기(상자도 사라짐)하지만, .clear()는 빈 딕셔너리를 남김
d2.clear()
d2

{}

In [12]:
# 주의 : del 키워드로 변수 삭제시 통째로 자료가 낳아감(빈 딕셔너리도 없음)
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 10, 'z': 40, 'v': 100}

In [13]:
del.d1
d1

SyntaxError: invalid syntax (2994094668.py, line 1)

# 5. 딕셔너리 내장함수 & 관련연산자

- 딕셔너리타입.keys() <- 딕셔너리는 key중심이기 때문에 .keys를 많이 사용함

- 딕셔너리타입.values()

- 딕셔너리타입.items()

- in 연산자

In [14]:
# 딕셔너리가 가지고 있는 key만 리스트 형식으로 반환 : .keys()
d1 = {'name':'홍길동', 'age':18, 'job':'학생'}
d1.keys() # 유사 리스트임(리스트가 아님)

dict_keys(['name', 'age', 'job'])

In [16]:
# 리스트로 교환 가능(자료형 변환)
list(d1.keys())

['name', 'age', 'job']

In [17]:
# 딕셔너리가 가지고 있는 value만 리스트 형식으로 반환 : .values()
d1.values() #마찬가지로 리스트는 아님

dict_values(['홍길동', 18, '학생'])

In [24]:
# 리스트로 교환 가능
list(d1.values())

['홍길동', 18, '학생']

In [25]:
# 딕셔너리가 가진 아이템(keys&values)을 튜플로 묶어 리스트 형식으로 반환 : .items()
d1.items() #튜플로 반환

dict_items([('name', '홍길동'), ('age', 18), ('job', '학생')])

In [26]:
# 리스트로 교환 가능
list(d1.items())

[('name', '홍길동'), ('age', 18), ('job', '학생')]

In [27]:
# in 키워드로 조회할 key값이 존재하는지 여부를 검사할 수 있음 : 키워드 in 연산자
'name' in d1

True

### << 연습문제 >>
1. 아래와 같은 딕셔너리를 생성하고 해당 딕셔너리의 value 중 최소값을 구하여 형식에 맞게 출력하세요.
         - 생성 딕셔너리 : {'A':9, 'B':80, 'C':70}
         - 조건1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10  " 아이템 3개를 추가하세요.
         - 조건2. key 'A'의 값을 9 에서 90 으로 변경하세요.
         - 조건3. '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 10을 포맷팅 값으로 사용하세요.
         - 조건4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요.

In [54]:
# 딕셔너리 생성
d3 = {'A':9, 'B':80, 'C':70}
d3

{'A': 9, 'B': 80, 'C': 70}

In [55]:
# 조건1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10  " 아이템 3개를 추가하시오
d3.update({'D' : 20, 'E' : 100, 'F' : 10})
d3

{'A': 9, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [56]:
# 조건2. key 'A'의 값을 9 에서 90 으로 변경하시오
d3['A']=90
d3

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [57]:
# 조건3. '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 10을 포매팅 값으로 사용하시오
# 10을 포매팅 값으로 사용(파이썬 문자시간에 배운 내용 - '%d(정수대입),%s(문자대입)' %(대입할 ['value']와 'key'))
'최소값 %d를 가진 key는 %s입니다.' % (d3['F'],'F') 
# %뒤에 붙여진 코드가 d3['F' : 'F'] 가 아닌 d3['F']와 'F'로 따로 구분한 이유는
# 해당 앞 딕셔너리는 key의 value값을 출력하기 위함이고, 뒤에 'F'는 문자이기에 구분한 것임

'최소값 10를 가진 key는 F입니다.'

In [58]:
# 조건4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구하시오
min(d3.values()) #최소값 : min(리스트)

10