# 데이터 타입
# 문자형

# > 생성하기
> 여닫는 따옴표는 반드시 문자의 앞 뒤에서 한 쌍으로 완성해야 함
### 1) 한 줄 문자열 : ', "

In [8]:
'123', "123", "안녕 반가워", "Hello World"

('123', '123', '안녕 반가워', 'Hello World')

In [5]:
# 여닫는 따옴표의 종류는 같은 것으로 통일해야 함
'123"

SyntaxError: EOL while scanning string literal (529147640.py, line 2)

In [6]:
# 여닫는 따옴표는 무조건 한 줄에 놓아야 함
'안녕
반가워'

SyntaxError: EOL while scanning string literal (3713544382.py, line 2)

In [12]:
# 문자의 다음 줄로 이어가고 싶다면 \n(enter)를 사용함
a = "안녕 \n반가워"
print(a)

안녕
반가워

# 2) 여러 줄 문자열 : ''', """

- print() 했을 때, enter(줄바꿈)이 그대로 반영되는 문자열로 처리 가능
- 단 화면에서 보기를 하면(print 없이 주피터노트북 결과로 보면)
- 줄바꿈이 바로 나타나지 않고 \n으로 처리됨

In [13]:
a = '''안녕
반가워'''
print(a)

안녕
반가워

In [14]:
a

'안녕\n반가워'

# 3) 문자 속에 문자열 기호 사용하기
- 문자열에서 자주 쓰는 기호 : ', "

In [15]:
# 언어, 문자에서 많이 쓰는 기호 : she's, "설렁탕을 사 왔는데 왜 먹지를 못하나..."
a = 'she's happy.'
print(a)

SyntaxError: invalid syntax (3711350309.py, line 2)

In [16]:
# 컴퓨터의 규칙은 따옴표 안에 다른 종류의 따옴표를 넣어야 함
a = "she's happy"
print(a)

she's happy

In [18]:
# 연습문제 1
title = '오늘은 "미세먼지" 좋음.'

print(title)

오늘은 "미세먼지" 좋음.

In [19]:
# 같은 종류의 따옴표 내부에서 문자 따옴표를 쓸 때는
# 따옴표 왼쪽에 \를 붙여 해당 따옴표가 여닫는 용도로 쓰이지 않았음을 보여줘도 됨
b = "\"He's sad.\""
print(b)

"He's sad."

In [20]:
#만약 문자열이 길어 불편한 경우, \를 입력 후 엔터로 줄을 넘기면
# 표기상으로는 두 줄이지만 실제 개념적으로 한 줄로 인식됨
c = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
print(c)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

In [21]:
c = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaa'
print(c)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

## 연습문제
### 1. 아래와 같은 여러 줄의 문장을 문자열로 만들어서 lines라는 변수에 할당하세요
> 파이썬도 배우고
> 장고도 배우고
> 할게 너무 많아
방법1) 여러 줄 문자열 활용하기 (lines 변수에 할당)
방법2) 한 줄 문자열 내부에서 \n 사이사이에 활용하기. (line 변수에 할당)

In [23]:
# 연습문제 2
# 방법 1)
lines = '''> 파이썬도 배우고
> 장고도 배우고
> 할게 너무 많아'''
print(lines)

> 파이썬도 배우고
> 장고도 배우고
> 할게 너무 많아

In [25]:
# 방법 2)
lines = "> 파이썬도 배우고 \n> 장고도 배우고 \n> 할게 너무 많아"
print(lines)

> 파이썬도 배우고
> 장고도 배우고
> 할게 너무 많아

# > 연산하기
### 1) 산술연산자 : 문자, 숫자를 함께 연산하기 위한 문법 기호

- 문자와 문자를 연결
- 동일한 문자를 반복해서 연결

In [26]:
# 문자와 문자를 연결 : +
'가' + '나'

'가나'

In [34]:
# 1. 문자열 자체에 공백 추가하기 : '문자_(space)' , '문자'+'(공백)'+'문자'
'가 ' + '나' , '가'+' '+'나'

('가 나', '가 나')

In [35]:
# 파이썬의 +는 양면 자료가 같거나 논리적으로 비슷하다고 인정되어야 함
# 문자 + 숫자 = 'Error'
'문자'+ 1

TypeError: can only concatenate str (not "int") to str

In [47]:
# 문자를 여러 번 반복 : *
# 동일한 문자열을 여러 번 반복하여 연결시킴
'asd'*a

TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
# '문자' * 정수 로 출력해야함 
'Hello World'*3

'Hello WorldHello WorldHello World'

# 2) 비교연산자 : 문자의 크기를 비교하기 위한 문법 기호

> 문자의 비교
- 대문자 vs 소문자 : 대문자 < 소문자 크기가 더 큼
- 알파벳 : 알파벳 순서가 뒤에 있을수록 크기가 더 큼
- 문자 길이 : 문자열의 길이가 길수록 크기가 더 큼

> 왜 그러한가
* 컴퓨터는 기계어로 되어 있기에 문자를 ASCII cord로 해석하여 숫자화함
* A = 65 , a = 97 / O = 48 / _(space) = 32 / null = 0

In [51]:
# 대문자 vs 소문자 : 비교연산자(==, !=, <, >)로 확인
'A'<'a' , 'z' < 'a'

(True, False)

In [52]:
# 문자열을 대상으로 할 때에는 무조건 첫 글자끼리만 비교함
# 문자열의 길이는 실제 크기 비교에 영향을 미치지 않음
'b' < 'BUS'

False

In [54]:
# 첫 글자의 크기가 같을 경우 다음 문자의 크기가 비교대상이 됨
'b' < 'bus'

True

In [55]:
# 영문자와 영문자 이외의 다른 문자간 비교는 무조건 영문자가 작게 나옴
# ASCII code vs uni code
'b' < '가'

True

In [56]:
# 문자에 배정된 코드값을 확인하는 방법
# ord('확인할문자') 를 입력시 해당 문자의 코드가 나옴
ord('가')

44032

In [60]:
# 해당 문자열이 몇 글자인지는 len('문자열')으로 찍어서 확인 가능
len('ffdajwrlewjrewjfodsavnklalmcdksjeeeee')

37

# >인덱스
- 아이템(대상이 가지고 있는 최소 단위의 값)의 위치를 나타내는 고유한 번호
- 첫 번째 위치는 0부터 시작
- 마지막 위치는 -1부터 시작

## 1) 인덱싱(indexing) : 특정 위치의 하나의 아이템에 접근하기

- 인덱싱 문법기호 : 객체[인덱스번호]

In [62]:
# banana 라는 문자열에 대해 인덱싱
text = 'banana'

In [63]:
# banana 라는 문자열에서 첫 번째 아이템 = 0번째 인덱스번호로 접근
# 인덱시 문법 : 객체(대상 : 값, 자료형)[인덱스번호]
text[0]

'b'

In [69]:
# 마지막 요소인 a에 접근
text[5], text[-1] #마지막 인덱스번호와 -1은 같음

('a', 'a')

## 2) 슬라이싱 : 연속된 범위의 여러 아이템에 접근

- 대상객체[처음인덱스:마지막인덱스(:간격)]
- 처음 인덱스 번호는 포함(n부터~)
- 마지막 인덱스번호는 포함하지 않음(n-1 까지)
- 간격조정은 할수도 있고 하지 않을수도 있음(기본 1씩 증가)

In [73]:
# 문자열 생성
text = 'hello python world'

In [79]:
# 처음부터 특정 위치까지 : ~python
# 처음 인덱스 : 0
# 마지막 인덱스 : -7(뒤에서 7번째까지 가져와야 하므로 실제로는 -6까지를 타겟으로)
# 간격 : 기본값(1)
# 슬라이싱 문법 : 객체[포함인덱스(0~):지정한 인덱스번호(n+1)]
text[0:-6] #text[0:12]

'hello python'

In [83]:
# 첫 인덱스가 0으로 시작을 끊는다면 생략해도 됨
text[:-6]

'hello python'

In [84]:
# 특정 위치부터 마지막 아이템까지 : python
# 처음 인덱스 : 6
# 마지막 인덱스 : 11 or -6
# 간격 : 기본값(1)
text[6:-6] #text[6:11]

'python'

In [87]:
# 전체 범위 지정 : 처음 인덱스와 마지막 인덱스를 모두 쓰지 않으면 전체지정
# 처음 인덱스 기본값 : 0 자동 입력
# 마지막 인덱스 기본값 : 마지막까지로 자동입력
text[:] #text[0:13] #text

'hello python world'

In [89]:
# 객체[: (전체 범위 지정) + :(n번째 만큼 간격을 넣음)]
text [ : :2] # 전체범위에 간격을 2로 넣음

'hlopto ol'

In [90]:
# 간격을 음수로 주면 뒤에서부터 셈
# 객체[ :  + :-1(뒤에서부터)]
text[::-1]

'dlrow nohtyp olleh'

## > 연습문제
### 20221005 미세먼지양호함
#### 위의 문장을 weather 변수에 저장한 다음
#### 날짜는 date 변수에 슬라이싱으로 받아오고,
#### dust 변수에 미세먼지 정도를 슬라이싱으로 받아오도록 만들어서 출력하시오

출력양식 : <br>
날짜 : 20221005 
날씨 : 미세먼지양호함

In [100]:
weather = '20221005 미세먼지양호함'

print(weather)

20221005 미세먼지양호함

In [137]:
len(weather)

16

In [101]:
date = weather[:8]

print(date)

20221005

In [104]:
dust = weather[-8:] #dust = weather[8:]

print(dust)

 미세먼지양호함

In [108]:
# 문제를 파악하고 제대로 출력양식에 맞게 출력할 것
print('날짜', date)
print('날씨' + dust)

날짜 20221005
날씨 미세먼지양호함

# > 포매팅(formatting)

- 특정 값만 바뀌고 일정한 형식을 가지는 문자열을 작성할 수 있는 기법

## 포매팅 : %

    - 데이터 타입에 따른 분류 : 정수, 실수, 문자
    - 옵션 : 문자열 길이, 표현할 아이템 개수, 공백
    
### 1) 숫자 값 대입

In [ ]:
# 1. 가변자료가 들어갈 자리(...에 해당하는)에 구멍(%자료형)을 냄
# 2. 구멍이 뚫린 문자열 뒤에 %로 연결한 다음 집어넣을 값을 적음

In [122]:
# 정수 값 포매팅 : 정수(int) -> %d
'오늘은 %d월입니다' %10

'오늘은 10월입니다'

In [119]:
# 정수 자리의 의미 : 지금 집어넣은 자료를 정수로 변환해 출력하는 의미
# 실수를 제공하면, 정수로 강제로 바꿔서 출력
'오늘은 %d일입니다.' %5.7

'오늘은 5일입니다.'

In [124]:
# 실수(float)값 포매팅
# %f 를 이용하여 값에 대한 구멍을 냄
# %f 는 기본적으로 소수점 6자리까지 표현함
'%f 표기' %12

'12.000000 표기'

In [125]:
# 실수값 포매팅 2 : 실수 %f에 실수 적용시
# 소수점 아래 7자리에서 반올림이 일어남
'%f 표기' % 1.123456789

'1.123457 표기'

In [127]:
# 옵션 : 소수점 아래 자리를 몇 자리까지 출력할지 정할 수 있음
# %0.nf : 소수점 아래 n자리까지만 표현하는 실수
'%0.3f 표기'%1.123456789

'1.123 표기'

In [130]:
# 가변자료를 2개 이상 넣는 케이스
# 집어넣는 값은 왼쪽부터 하나씩 전달됨
# 2개 이상을 집어넣는 경우는 %(첫 번째 값, 두 번째 값 ...) 과 같이 괄호로 전달함
'오늘은 %d월 %d일입니다.' %(10,5)

SyntaxError: invalid syntax (2939021546.py, line 4)

In [131]:
'지금은 %d년 %d월 %d일입니다.' %(2022, 10, 5)

'지금은 2022년 10월 5일입니다.'

In [132]:
# %d, %f에 숫자가 아닌 자료를 넛으면 에러 발생
'%d, %f' %('1','2')

TypeError: %d format: a number is required, not str

### 2) 문자 대입
- %s로 구멍 뚫기
- 집어넣는 값에 대해서 제한이 없음
- 만능 포매팅

In [134]:
# 집어넣는 값 : 문자 타입
'%s님 접속을 환영합니다.' % 'Puneuma'

'Puneuma님 접속을 환영합니다.'

In [135]:
# 문자 이외의 타입도 가능
'%s 숫자도 입력 가능' %1005

'1005 숫자도 입력 가능'

## > 문자열 내장함수* = 문자열 메서드
    └≫ 내장함수 : 특정 데이터 타입이 자체적으로 가지고 있는 속성으로 존재하는 함수
    └≫ 문법 : 변수(데이터타입값).함수명()
* count( ) : 특정 문자의 개수
* find( ) :특정 문자의 인덱스 번호(위치)
* join( ) : 특정 기호를 문자열 아이템 사이에 입력
* upper( ) : 문자열을 대문자로 변경
* lower( ) : 문자열을 소문자로 변경
* capitalize( ) : 문자열의 첫 글자를 대문자로
* swapcase( ) : 대문자는 소문자로, 소문자는 대문자로 전환
* lstrip( ) / rstrip( ) / strip( ) : 좌 / 우 / 앞뒤 공백(기본) 및 특정 문자 지우기
* replace( ) : 기존 문자를 새로운 문자로 바꾸기
* split( ) : 특정 기호를 기준으로 문자열을 아이템 단위로 나누어 리스트로 반환
* center( ) : 문자열 길이를 지정하여 대상 문자열을 중앙 정렬
* ljust( ) : 문자열 길이를 지정하여 대상 문자열을 왼쪽 정렬
* rjust( ) : 문자열 길이를 지정하여 대상 문자열을 오른쪽 정렬

In [138]:
# 문자열 생성
text = 'tomato juice'

In [141]:
# count()
# text 문자열에서의 a의 갯수
text.count('a')

1

In [142]:
# .count() 는 2글자 이상에 대해서도 집계가 가능
text.count('to')

2

In [145]:
# .find() : 특정 값의 인덱스 번호를 반환
# txt 문자열에서의 a의 인덱스 번호를 출력
text.find('a')

3

In [146]:
# 2글자 이상에 대해서도 번호를 출력
# 2글자 이상일 때에는 왼쪽 글자가 해당 문자열 중에서 가장 가까운 인덱스 번호를 출력
text.find('to')

0

In [147]:
# .find('찾을자료',(시작번호)) 입력으로 0번이 아닌 이후 번호를 시작점으로 지정 가능
text.find('to',1)

4

In [148]:
# .upper()
# 소문자를 전부 대문자로 출력
# 변경된 결과를 시뮬레이션 해서 보여줌(원본자료는 대문자화 되지 않음, 영구화x,)
text.upper()

'TOMATO JUICE'

In [153]:
# .lower()
# text2 변수를 만들어 text2 안에 text 변수의 문자열을 대문자로 생성
text2=text.upper()
text2

'TOMATO JUICE'

In [151]:
# 대문자를 전부 소문자로 출력
# 변경된 결과를 시뮬레이션 해서 보여줌(원본자료는 소문자화 되지 않음, 영구화x,)
text2.lower()

'tomato juice'

In [162]:
text = '          123          123         '
text

'          123          123         '

In [157]:
# .lstrip()
# 문자열의 왼쪽에 있는 공백 전부 제거(가운데는 제거 안함)
# 시뮬레이션 결과만 보여줌(원본에 반영x)
text.lstrip()

'123          123         '

In [158]:
# .rstrip()
# 문자열의 오른쪽에 있는 공백 전부 제거(가운데는 제거 안함)
# 시뮬레이션 결과만 보여줌(원본에 반영x)
text.rstrip()

'          123          123'

In [160]:
# .strip()
# 문자열에 있는 양쪽 공백 전부 제거
# 시뮬레이션 결과만 보여줌(원본에 반영x)
text.strip()

'123          123'

In [163]:
# .replace('old', 'new')
# 찾아바꾸기. 문자열 내에서 old에 해당하는 문자를 찾아 new로 교체
# 원본자료에는 영향을 미치지 않고 일시적으로 변경
text.replace('123','456')

'          456          456         '

In [164]:
# 공백을 없앨 수도 있음
text.replace(" ","")

'123123'

In [165]:
# 마찬가지로 문자열을 없앨 수도 있음
text.replace("123","")

'                             '

In [166]:
text3 = 'a b c'

In [173]:
# .split("기준")
# 쪼개기
# 기준 입력시 기준점을 기준으로 쪼갬
# 입력 안하면 ' ', \n, \t 등을 기준으로 쪼개줌
text3.split()

['a', 'b', 'c']

In [179]:
text3.split('b')

['a ', ' c']

In [193]:
# 두 글자 이상도 쪼개기의 기준이 될 수 있음
text4 = 'a,b,c,ddes'
text4.split('ddes')

['a,b,c,', '']

In [202]:
# .join()
# 왼쪽에 있는 요소를 .john(자료)의
# 자료 인덱스 사이에 입력함
text5 = 'def'
'|'.join(text5)

'd|e|f'

In [206]:
# 마지막 인덱스 번호 가변적으로 구하기
# len(문자열)-1
x = 'abcdefghijklmnopqrstuvwxyz'

# 26글자이므로 글자를 세줌
len(x)

26

In [207]:
# 마지막 인덱스 번호는 0부터 시작이므로 길이 -1
len(x)-1

25

In [228]:
# x의 마지막 글자를 len()을 활용한 인덱싱으로 출력하시오
x[len(x)-1] # x[25]

'z'