# 데이터 입출력

## 1. csv 파일 적재
- pd.read_scv()
    - 컬럼명이 존재하는 데이터
    - 컬럼명이 없는 데이터
    - 구분자 설정

In [1]:
import pandas as pd

In [ ]:
# 절대경로
# 모든 경로를 다 입력해서 파일이나 경로를 가져오는 것
# 정확한 경로파악

In [ ]:
# 상대경로
# 대상 파일과 실행중인 파일간에 겹치는 경로가 존재할 때
# 겹치지 않는 부분부터 기술하는 것

In [9]:
# data/ex1.csv 파일읽기(컬럼명이 존재하는 csv파일)
# read_csv 기본동작 : 첫 행 데이터를 컬럼으로 사용
data = pd.read_csv('data/ex1.csv')
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
# data/ex2.csv 읽기(컬럼명이 없는 csv 파일)
# read_csv : header = None
data = pd.read_csv('data/ex2.csv', header = None)
data

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
# 컬럼명 a,b,c,d,e를 data변수에 부여하시오
data.columns = ['a','b','c','d','e']
data

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [15]:
# data/ex3.scv 읽기
# 기본 구분자 =,
# read_scv() : sep parameter
data2 = pd.read_csv('data/ex3.csv')
data2.shape

(4, 1)

In [16]:
data2

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [17]:
# ,가 아닌 문자를 구분자로 사용하는 데이터 차리
pd.read_csv('data/ex3.csv', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
# dafa/ex4.csv(주석이 포합된 파일 읽기)
# 파라미터1 : skiprows = {생략하고 읽을 로우인덱스 번호}
pd.read_csv('data/ex4.csv', skiprows = [0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
# 파라미터 2 : comment '주석기호'(주석 유도시 사용한 주석 시작기호 입력)
pd.read_csv('data/ex4.csv',comment = '#')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 2. 엑셀 파일 읽기


- 기본적으로 첫번째 시트에 있는 데이터를 읽어와서 데이터프레임으로 저장
- 모든 시트를 읽기 위해서는 sheetname 인자를 None으로 설정
    - 모든 시트의 데이터를 읽어서 사전 형태로 저장
    - key = 시트의 이름, value = 각 시트에 있는 데이터들을 저장한 데이터프레임
- 특정 시트만 읽기 위해서는 sheetname 인자에 '시트명' 설정

### ex6.xlsx 파일

<img src="img/엑셀파일예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [20]:
# 파일읽기(첫 번재 시트만 자동으로 읽어옴, 디폴트)
pd.read_excel('data/ex6.xlsx')

   a   b
0  1   2
1  5   6
2  9  10

In [21]:
# 두 번째 시트 읽기 : sheet_name = '시트명'
pd.read_excel('data/ex6.xlsx', sheet_name = "시트2")

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

In [22]:
# 모든 시트 다 읽어오기
# sheet_name 파라미터 설정 : None
data = pd.read_excel('data/ex6.xlsx', sheet_name = None)
data

{'시트1':    a   b
 0  1   2
 1  5   6
 2  9  10,
 '시트2':     c   d message
 0   3   4   hello
 1   7   8   world
 2  11  12     foo}

In [23]:
data.keys()

dict_keys(['시트1', '시트2'])

In [25]:
data.values()

dict_values([   a   b
0  1   2
1  5   6
2  9  10,     c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo])

In [27]:
# 시트1, 시트2의 데이터를 각각 변수 data1, data2 에 저장
data1, data2 = data.values()

In [28]:
data1

   a   b
0  1   2
1  5   6
2  9  10

In [29]:
data2

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo